#register-error {
    height: 20px;
    width: 100%;
    color: red;
    font-weight: 700;
}
.success-alert {
    position: absolute;
    color: var(--white);
    top: 50px;
    width: 100vw;
    height: 20vh;
    display: flex;
    padding: 2vw 5vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin: auto auto; */
    animation: appear 1.5s ease;
    background-color: var(--space-cadet);
    /* left: -175px; */
    z-index: 2;
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-1000px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}