@import url('./index.css');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
#container {
    display: flex;
    flex-wrap: wrap;
    /* width: 100vw; */
    font-family: var(--mouse-memoirs);
    letter-spacing: 1.5px;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 25%;
    /* border-right: double black 2px; */
    padding: 10px 0;
    background: var(--lemon-yellow-crayola);
}
main {
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    width: 100%;
    border-top-color: var(--canva-2);
    border-top-style: solid;
    border-top-width: 10px;
    border-bottom: solid 10px var(--canva-2);
    padding-bottom: 10px;
}
nav>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 3vh;
    margin: 1vh 0 0 0;
    position: relative;
    z-index: 1;
}
.logo-ctn {
    width: 20%;
    align-self: center;
    margin-bottom: 15px;
    min-width: 40px;
    max-width: 52px;
}
nav li {
    width: 100%;
    padding: 1vw 2vw;
    /* background: var(--ultramarine-blue); */
    color: var(--maximum-yellow);
    font-size: min(2vw,16px);
    border-bottom: 10px solid var(--acid-green);
}
.dark-blue {
    background-color: var(--canva-4);
}
.marine-blue {
    background-color: var(--ultramarine-blue);
}
.antique-bronze {
    background-color: var(--antique-bronze);
}
.canva-2 {
    background-color: var(--canva-2);
}
.bone-font {
    color: var(--bone);
    border: var(--bone) 2px solid !important;
}
.canva-4-font {
    color: var(--canva-4);
    border: 2px solid var(--canva-4);
}
#logout {
    margin-top: 3vw;
    background-color: var(--space-cadet);
}
#logo-2-ctn {
    text-align: center;
    margin-top: 15px;
}
nav li:hover {
    cursor: pointer;
}
.displayNone {
    display: none;
}
#content-iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}
#checking-ul, #services-ul, #deposits-ul {
    text-align: end;
    width: 135%;
    margin: 0;
}
#welcome-content-main {
    /* width: 100%; */
    height: 100vh;
    background: var(--canva-1);
    font-family: var(--mouse-memoirs);
    letter-spacing: 1.5px;
}
#content-ctn {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: var(--lemon-yellow-crayola);
}
#content-text {
    width: 40%;
    color: var(--ultramarine-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 3vw;
    text-align: center;
}
h1#welcome {
    font-size: max(min(3.8vw,32px),27px);
}
#welcome-p {
    font-size: max(min(2vw,18px),12px);
}
.welcome-logo-ctn {
    width: 100%;
}
.welcome-logo-ctn img {
    max-width: 82px;
}
#image-ctn {
    width: 60%;
}
#content-main {
    /* color: var(--ultramarine-blue); */
    /* width: 100%; */
    row-gap: 50px;
    min-height: 100vh;
    height: fit-content;
    justify-content: center;
    flex-grow: 2;
}
#content-main-payments {
    row-gap: 50px;
    min-height: 100vh;
    height: fit-content;
    justify-content: center;
    flex-grow: 2;
    position: relative;
}
div#content {
    position: relative;
    padding: 50px 20px 50px;
    background: #e9e0d000;
    border-radius: 30px;
    font-family: var(--mouse-memoirs);
    letter-spacing: 3.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 400px; */
    row-gap: 10px;
    width: 52%;
    min-width: 325px;
    margin-top: 20px;
}
#content #logo-ctn {
    width: 80px;
    position: absolute;
    top: -44px;
    z-index: 2;
    border-radius: 50%;
}
#content h1 {
    text-align: center;
    /* color: var(--canva-4); */
}
.results-div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.results-div p {
    font-size: max(min(3.5vw,32px),24px);
    text-align: center;
}
.register-form {
    width: 80%;
}
#register-form__inputs-ctn {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
#register-form__inputs-ctn>div {
    display: flex;
    flex-direction: column;
}
.register-form input, select {
    background-color: var(--bone) !important;
    width: 100%;
    text-align: end;
    padding: 7px 10px 7px 0px;
}
.register-form select {
    padding: 5px;
    border-radius: 5px;
}
option {
    font-size: 16px;
}
#register-error {
    color: red;
    font-weight: 600;
}

/* ******************* Animations ************************* */
.slide-in-left {
	-webkit-animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-out-left {
	-webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes slide-in-left {
    0% {
        -webkit-transform: scaleX(0) translateX(-500px);
                transform: scaleX(0) translateX(-500px);
                transform-origin: left;
        opacity: 0;
      }
      100% {
        -webkit-transform: scaleX(1) translateX(0);
                transform: scaleX(1) translateX(0);
                transform-origin: left;
        opacity: 1;
      }
}
@keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
  
  /* ***************************************  Media Queries  ************************************************** */
  @media (max-width:780px) and (orientation: portrait){
    #container {
        flex-direction: column;
        align-items: center;
    }
    aside {
        width: 100%;
        padding: 0;
    }
    nav>ul {
        position: absolute;
        width: 100%;
        visibility: hidden;
        transform: scaleX(0);
        font-size: 5.2vw;
        z-index: 3;
        background: #8080806b;
        height: 100vh;
        transition: transform 0.4s ease;
        transform-origin: left;
    }
    #logout {
        margin-top: 0;
    }
    .logo-ctn {
        max-width: unset;
        margin-bottom: 20px;
        width: 10%;
        padding: 30px 0 0;
        min-width: 70px;
    }
    #logo-2-ctn {
        position: absolute;
        top: 20px;
        left: -55px;
        width: 42%;
    }
    nav li {
        padding: 20px;
        font-size: max(4.5vw,22px);
    }
    #content-container {
        width: 100%;
    }
    #content-main {
        width: 100%;
        justify-content: flex-start;
        padding: 15vw 0;
    }
    #content-main-payments {
        width: 100%;
        justify-content: flex-start;
        padding: 15vw 0;
    }
    #welcome-content-main {
        justify-content: flex-start;
        width: 100%;
    }
    #content-ctn {
        flex-direction: column;
    }
    #content-text {
        width: 100%;
        order: 2;
        row-gap: 5vw;
    }
    #image-ctn {
        width: 100%;
    }
    div#content {
        width: 65%;
        margin-top: 0vw;
        min-width: unset;
        max-width: unset;
    }
    #content #logo-ctn {
        width: 100px;
        top: -54px;
    }
    .register-form {
        width: 95%;
    }
    #register-form__inputs-ctn {
        row-gap: 30px;
    }
    .register-form label {
        font-size: min(max(5vw,26px),32px);
    }
    .register-form input, select {
        font-size: min(max(3vw,22px),28px);
    }
    .register-form button {
        font-size: 35px;
    }
    #register-error {
        font-size: 26px;
    }
    .success-alert {
        font-size: 5vw;
    }
    .button-ok {
        font-size: 3vw;
    }
    @keyframes slide-in-left {
        0% {
            -webkit-transform: scaleX(0) translateX(-500px);
                    transform: scaleX(0) translateX(-500px);
                    transform-origin: left;
            opacity: 0;
          }
          100% {
            -webkit-transform: scaleX(1) translateX(-67vw);
                    transform: scaleX(1) translateX(-67vw);
                    transform-origin: left;
            opacity: 1;
          }
    }
    @keyframes slide-out-left {
        0% {
          -webkit-transform: translateX(-67vw);
                  transform: translateX(-67vw);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
      }
      
  }

  @media (max-width:585px) and (orientation: portrait) {
    
    #content-main {
        padding: 20vw 0;
    }
    div#content {
        width: 90%;
    }
    .register-form {
        width: 90%;
    }
    #content h1 {
        font-size: 4.5vw;
    }
}