@media (max-width:780px) {
    #container {
        flex-direction: column;
        align-items: center;
    }
    aside {
        width: 100%;
        padding: 0;
    }
    nav>ul {
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        font-size: 5.2vw;
        z-index: 2;
        background: #8080806b;
        height: 100vh;
        transition: transform 0.4s ease;
        transform-origin: left;
    }
    #logout {
        margin-top: 0;
    }
    .logo-ctn {
        max-width: unset;
        margin-bottom: 20px;
        width: 10%;
        padding: 30px 0 0;
        min-width: 70px;
    }
    #logo-2-ctn {
        position: absolute;
        top: 20px;
        left: -55px;
        width: 42%;
    }
    nav li {
        padding: 20px;
        font-size: max(4.5vw,22px);
    }
    
    @keyframes slide-in-left {
        0% {
            -webkit-transform: scaleX(0) translateX(-500px);
                    transform: scaleX(0) translateX(-500px);
                    transform-origin: left;
            opacity: 0;
          }
          100% {
            -webkit-transform: scaleX(1) translateX(-67vw);
                    transform: scaleX(1) translateX(-67vw);
                    transform-origin: left;
            opacity: 1;
          }
    }
    @keyframes slide-out-left {
        0% {
          -webkit-transform: translateX(-67vw);
                  transform: translateX(-67vw);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
      }
      #content-container {
          width: 100%;
      }
      #content-main {
          justify-content: start;
          align-items: center;
          padding: 15vw 0;
      }
      div#content {
          min-width: unset;
          max-width: unset;
          width: 90%;
          margin-top: 0vw;
      }
      #welcome-content-main {
          justify-content: flex-start;
      }
      #content-ctn {
          flex-direction: column;
      }
      #content-text {
          width: 100%;
          order: 2;
      }
      #image-ctn {
          width: 100%;
      }
      .register-form {
          width: 90%;
      }
      #content h1 {
          font-size: 4.5vw;
      }
  }

  @media (max-width:585px) and (orientation: portrait){
    
}