@import url('./index.css');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
#container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 25%;
    border-right: double black 2px;
    padding: 30px 0;
    background: var(--maximum-yellow);
}
main {
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    width: 100%;
}
nav>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 3vh;
    margin: 1vh 0 0 0;
}
.logo-ctn {
    width: 20%;
    align-self: center;
    margin-bottom: 5vh;
}
nav li {
    width: 100%;
    padding: 1vw 2vw;
    background: var(--ultramarine-blue);
    color: var(--maximum-yellow);
}
#logout {
    margin-top: 3vw;
}
nav li:hover {
    cursor: pointer;
}
.displayNone {
    display: none;
}
#content-iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}
#checking-ul, #services-ul, #deposits-ul {
    text-align: end;
    width: 135%;
    margin: 0;
}
#content-main {
    background-color: var(--background-logo);
    color: var(--ultramarine-blue);
    width: 100%;
}

/* ******************* Animations ************************* */
.slide-in-left {
	-webkit-animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-out-left {
	-webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes slide-in-left {
    0% {
        -webkit-transform: scaleX(0) translateX(-500px);
                transform: scaleX(0) translateX(-500px);
                transform-origin: left;
        opacity: 0;
      }
      100% {
        -webkit-transform: scaleX(1) translateX(0);
                transform: scaleX(1) translateX(0);
                transform-origin: left;
        opacity: 1;
      }
}
@keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
  