@import url('./index.css');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
#container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 25%;
    border-right: double black 2px;
    padding: 30px 0;
    background: var(--lemon-yellow-crayola);
}
main {
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    width: 100%;
    border-top-color: var(--canva-2);
    border-top-style: solid;
    border-top-width: 10px;
    border-bottom: solid 10px var(--canva-2);
    padding-bottom: 10px;
}
nav>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 3vh;
    margin: 1vh 0 0 0;
}
.logo-ctn {
    width: 20%;
    align-self: center;
    margin-bottom: 5vh;
    min-width: 40px;
    max-width: 52px;
}
nav li {
    width: 100%;
    padding: 1vw 2vw;
    /* background: var(--ultramarine-blue); */
    color: var(--maximum-yellow);
    font-size: min(2vw,20px);
    border-bottom: 10px solid var(--acid-green);
}
.dark-blue {
    background-color: var(--canva-4);
}
.marine-blue {
    background-color: var(--ultramarine-blue);
}
.antique-bronze {
    background-color: var(--antique-bronze);
}
.canva-2 {
    background-color: var(--canva-2);
}
#logout {
    margin-top: 3vw;
    background-color: var(--space-cadet);
}
#logo-2-ctn {
    text-align: center;
    margin-top: 35px;
}
nav li:hover {
    cursor: pointer;
}
.displayNone {
    display: none;
}
#content-iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}
#checking-ul, #services-ul, #deposits-ul {
    text-align: end;
    width: 135%;
    margin: 0;
}
#content-main {
    color: var(--ultramarine-blue);
    width: 100%;
    row-gap: 50px;
    min-height: 100vh;
    height: fit-content;
    justify-content: center;
}
div#content {
    position: relative;
    padding: 50px 20px 50px;
    background: #e9e0d000;
    border-radius: 30px;
    border: 2px solid var(--sky-blue-crayola);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    row-gap: 10px;
    width: 52%;
    min-width: 325px;
    margin-top: 20px;
}
#content #logo-ctn {
    width: 80px;
    position: absolute;
    top: -44px;
    
    z-index: 2;
    border-radius: 50%;
}
#content h1 {
    text-align: center;
}
.results-div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.results-div p {
    font-size: max(min(3.5vw,32px),24px);
    text-align: center;
}
.register-form {
    width: 80%;
}
#register-form__inputs-ctn {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
#register-form__inputs-ctn>div {
    display: flex;
    flex-direction: column;
}
.register-form input, select {
    background-color: var(--bone) !important;
    width: 100%;
    text-align: end;
    padding: 7px 10px 7px 0px;
}
.register-form select {
    padding: 5px;
    border-radius: 5px;
}
option {
    font-size: 16px;
}
#register-error {
    color: red;
    font-weight: 600;
}

/* ******************* Animations ************************* */
.slide-in-left {
	-webkit-animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-out-left {
	-webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes slide-in-left {
    0% {
        -webkit-transform: scaleX(0) translateX(-500px);
                transform: scaleX(0) translateX(-500px);
                transform-origin: left;
        opacity: 0;
      }
      100% {
        -webkit-transform: scaleX(1) translateX(0);
                transform: scaleX(1) translateX(0);
                transform-origin: left;
        opacity: 1;
      }
}
@keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
  
  /* ***************************************  Media Queries  ************************************************** */
  @media (max-width:780px) {
    #container {
        flex-direction: column;
        align-items: center;
    }
    aside {
        width: 100%;
        padding: 0;
    }
    nav>ul {
        position: absolute;
        width: 100%;
        font-size: 5.2vw;
        z-index: 2;
        background: #8080806b;
        height: 100vh;
    }
    #logout {
        margin-top: 0;
    }
    .logo-ctn {
        max-width: unset;
        margin-bottom: 20px;
        width: 10%;
        padding: 30px 0 0;
        min-width: 70px;
    }
    nav li {
        padding: 20px;
    }
    div#content {
        min-width: unset;
        width: 65%;
        margin-top: 0vw;
    }
    #content-container {
        width: 90%;
    }
    .register-form {
        width: 90%;
    }
    #content h1 {
        font-size: 4.5vw;
    }
    @keyframes slide-in-left {
        0% {
            -webkit-transform: scaleX(0) translateX(-500px);
                    transform: scaleX(0) translateX(-500px);
                    transform-origin: left;
            opacity: 0;
          }
          100% {
            -webkit-transform: scaleX(1) translateX(-490px);
                    transform: scaleX(1) translateX(-490px);
                    transform-origin: left;
            opacity: 1;
          }
    }
    @keyframes slide-out-left {
        0% {
          -webkit-transform: translateX(-490px);
                  transform: translateX(-490px);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
      }
  }