:root {
    /* CSS HSL */
--space-cadet: rgba(27, 42, 95, 1);
--ultramarine-blue: rgba(68, 102, 238, 1);
--sky-blue-crayola: rgba(83, 214, 246, 1);
--maximum-yellow: rgba(250, 251, 48, 1);
--acid-green: rgba(193, 194, 41, 1);
--bone: rgba(233, 224, 208,1);
--white: rgba(255, 255, 255, 1);
/* CSS HEX */
--lemon-yellow-crayola: #F5F597ff;
--icterine: #EDEB6Cff;
--antique-bronze: #6B5F11ff;
--satin-sheen-gold: #C4A040ff;
--khaki-x-11-light-khaki: #E9E18Aff;
--canva-1: #e4dd8d;
--canva-2: #ba9c49;
--canva-3: #efed6d;
--canva-4: #3d3e69;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: circle;
    margin-left: 20px;
}
a {
    text-decoration: none;
    
}
main#container {
    width: 100%;
    height: 100vh;
    background: url(../../assets/image-hero.jpg) rgb(193 194 41 / 54%);
    background-blend-mode: overlay;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    color: var(--space-cadet);
    background-color: rgb(233 224 208 / 30%);
    padding: 20px 45px;
    border-radius: 15px;
}
#logo-ctn {
    width: 75px;
    padding: 1vw;
    border-radius: 5px;
    align-self: center;
}
#content li {
    font-size: 20px;
    margin-bottom: 8px;
}
#buttons-ctn {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;
}
#buttons-ctn button {
    font-size: 16px;
    padding: 8px 15px;
    background-color: var(--space-cadet);
    color: var(--maximum-yellow);
    border: none;
    border-radius: 5px;
}
#buttons-ctn button:hover {
    cursor: pointer;
    background-color: var(--ultramarine-blue);
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.register-form label {
    display: block;
    font-size: min(max(2.5vw,17px),22px);
    margin-bottom: 2px;
}
.register-form input {
    align-self: center;
    padding: 5px 7px;
    background-color: var(--white);
    border: solid 1px var(--acid-green);
    border-radius: 5px;
}
.register-form button {
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: var(--space-cadet);
    color: var(--maximum-yellow);
    margin-top: 20px;
    border: none;
}
.register-form button:hover {
    cursor: pointer;
    background-color: var(--ultramarine-blue);
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.register-form span a {
    color: var(--ultramarine-blue);
}